#team-members{'ng-controller' => 'TeamMembersCtrl'}
  %a{href: '{{$scope.$location.search("show", "Russ")}}'} Show only Russ
  %div{'ng-repeat' => '(teamName, members) in teamMembers'}
    %h2 {{teamName}}
    %ul
      %li{'ng-repeat' => 'teamMember in members'}
        %span{'ng-bind' => 'teamMember.name',
          'focus-input' => true,
          'ng-click' => 'toggleEditTeamMember(teamName, $index)',
          'ng-hide' => 'teamMember.editing'}
        %input{type: 'text', 'ng-show' => 'teamMember.editing',
          'ng-model' => 'teamMember.name',
          'ng-blur' => 'toggleEditTeamMember(teamName, $index)',
          'blur-on-enter' => true}

        
        .projects
          .project{'ng-repeat' => 'project in teamMember.projects'}
            %span.handle #
            %div {{project.name}}
            %span.task-count {{teamMember.tasks.length}}
            %button{'ng-click' => 'addTask(teamName, $index)'} + Task

            %ul
              %li{'ng-repeat' => 'task in project.tasks'}
                %span{'ng-bind' => 'task.content',
                  'focus-input' => true,
                  'ng-click' => 'toggleEditTask(teamName, $parent.$parent.$index, $parent.$index)',
                  'ng-hide' => 'task.editing'}
                %input{type: 'text', 'ng-show' => 'task.editing',
                  'ng-model' => 'task.content',
                  'ng-blur' => 'toggleEditTask(teamName, $parent.$index, $index)',
                  'blur-on-enter' => true}
                
                %span.actions
                  - ['jd', 'ip', 'H', 'op', 'bi', 'done'].each do |state|
                    %span{'ng-click' => 'setState(teamName, $parent.$index, $index, "#{state}")', 'ng-state-color' => true}= state
                  %span{'ng-click' => 'removeTask(teamName, $parent.$index, $index)'} x
